@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Roboto:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: end;
  background-color: #000;
  color: #fff;
  height: 70px;
  padding: 24px;
}

.ufc {
  margin-right: auto;
  word-spacing: 5px;
}

.ufc1 {
  margin: auto;
  color: #fff;
  letter-spacing: 1px;
  font-size: larger;
}
a {
  text-decoration: none;
  padding-left: 32px;
  color: #fff;
}

a:hover {
  color: red;
  transition: 0.5s ease-in;
  opacity: 0.7;
}

body {
  background-image: url("./images/1306164.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  margin-top: 10%;
  margin-left: 5%;
  color: #fff;
  word-spacing: 5px;
  font-family: Verdana;
  font-size: 30px;
}

pre {
  color: #fff;
  margin-top: 2%;
  margin-left: 2%;
  font-size: 15px;
  word-spacing: 4px;
  font-family: verdana;
  line-height: 30px;
}

button {
  margin-left: 6%;
  margin-top: 2%;
  padding: 15px;
  font-weight: 800;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  border-radius: 2px;
  border: none;
}

button:hover {
  background-color: rgb(253, 110, 95);
  transition: 0.3s ease-in;
  opacity: 0.7;
  color: #fff;
}
span:hover {
  color: red;
}
pre:hover {
  color: salmon;
  transition-delay: 0.2s;
  transform: skew(30px);
}
@media (max-width: 320px) {
  body {
    background-attachment: initial;
  }
  header {
    display: flex;
    justify-content: start;
    height: 70px;
    padding: 24px;
    background-color: transparent;
    flex-wrap: nowrap;
  }
}
